body{
    background-color: #f6f6f6;
}

body.dark-mode {
    background-color: #141414;
    color: #f6f6f6;
}

.card.dark-mode{
    background-color: #1e1e1e;
    color: #e0e0e0;
}

img.img-card-modal{
    height: 320px !important;
    width: auto !important;
}